# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenvs
venv/
.env/
.venv/

# Editor junk
.vscode/
.idea/
*.swp
*.swo

# Docker
Dockerfile*
docker-compose*

# Django
staticfiles/
media/
*.sqlite3

# Postgres
data/

# Tests / temp
coverage/
pytest_cache/
tmp/

