services:
  postgres:
    image: postgres:17-alpine
    container_name: postgres_zecontinha
    restart: always
    volumes:
      - ./data/db:/var/lib/postgresql/data
    env_file:
      - ./postgres.env
    #environment:
    #  - POSTGRES_DB
    #  - POSTGRES_USER
    #  - POSTGRES_PASSWORD
    #ports:
    #  - 5432:5432
    networks:
      - zecontinha_network
  app:
    build: .
    image: zecontinha_base
    # RFC 1034/1035 -> No _ on hostname
    container_name: zecontinha
    volumes:
      #  - .:/src/
      #  TODO: Fix logs - Make a volume
      - /var/logs/zecontinha:/srv/logs
    ports:
      - "8000:8000"
    env_file:
      - ./zecontinha.env
    links:
      - postgres
    depends_on:
      - postgres
    networks:
      - zecontinha_network
  cron:
    image: zecontinha_base
    container_name: cron_zecontinha
    restart: unless-stopped
    entrypoint: bin/cron_entrypoint.sh
    command: cron -f
    #volumes:
    #- .:/src/
    env_file:
      - ./zecontinha.env
    links:
      - postgres
    depends_on:
      - app
      - postgres
    networks:
      - zecontinha_network
    deploy:
      resources:
        limits:
          cpus: '0.90'

# REMEMBER: docker network create zecontinha_network
networks:
  zecontinha_network:
    external: true
