services:

  postgres:
    image: postgres:15-alpine
    container_name: db-zecontinha
    restart: always
    volumes:
      - ./data/db:/var/lib/postgresql/data
    env_file:
      - ./postgres.env
    networks:
      - zecontinha_network
  app:
    build: .
    image: zecontinha_base:latest
    # RFC 1034/1035 -> No _ on hostname
    container_name: web-zecontinha
    volumes:
      - ./data:/src/data
      - /var/logs/zecontinha:/srv/logs
    ports:
      - "8000:8000"
    env_file:
      - ./zecontinha.env
    # depends_on:
    # - postgres
    networks:
      - zecontinha_network
  cron:
    image: zecontinha_base:latest
    container_name: cron-zecontinha
    restart: unless-stopped
    entrypoint: bin/cron_entrypoint.sh
    command: cron -f
    volumes:
      - ./data:/src/data
      - /var/logs/zecontinha:/srv/logs
    environment:
      - TZ=${TZ:-America/Sao_Paulo}
    env_file:
      - ./zecontinha.env
    # depends_on:
    #  - postgres
    networks:
      - zecontinha_network
    deploy:
      resources:
        limits:
          cpus: '0.90'

# REMEMBER: docker network create zecontinha_network
networks:
  zecontinha_network:
    external: true
