[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
appdirs = "==1.4.4"
asgiref = "==3.2.7"
backcall = "==0.1.0"
certifi = "==2019.6.16"
cffi = "==1.14.0"
chardet = "==3.0.4"
cryptography = "==3.2"
decorator = "==4.4.0"
distlib = "==0.3.0"
dj-database-url = "==0.5.0"
django-heroku = "==0.3.1"
filelock = "==3.0.12"
future = "==0.18.2"
gunicorn = "==19.9.0"
idna = "==2.8"
ipython = "==7.6.1"
jedi = "==0.14.1"
kiwisolver = "==1.1.0"
matplotlib = "==3.1.1"
multitasking = "==0.0.9"
numpy = "==1.18.5"
pandas = "==0.25.0"
parso = "==0.5.1"
patsy = "==0.5.1"
pexpect = "==4.7.0"
pickleshare = "==0.7.5"
pipenv = "==2018.11.26"
prompt-toolkit = "==2.0.9"
psycopg2 = "==2.8.5"
psycopg2-binary = "==2.8.5"
ptyprocess = "==0.6.0"
pycparser = "==2.20"
pyparsing = "==2.4.2"
python-dateutil = "==2.8.0"
python-decouple = "==3.3"
python-telegram-bot = "==12.7"
pytz = "==2019.1"
requests = "==2.22.0"
scipy = "==1.3.0"
six = "==1.12.0"
sqlparse = "==0.3.1"
statsmodels = "==0.11.1"
tornado = "==6.0.4"
traitlets = "==4.3.2"
urllib3 = "==1.25.3"
virtualenv = "==16.6.2"
virtualenv-clone = "==0.5.3"
wcwidth = "==0.1.7"
whitenoise = "==4.1.3"
yfinance = "==0.1.54"
Cycler = "==0.10.0"
Django = "==3.0.7"
ipython_genutils = "==0.2.0"
Pygments = "==2.4.2"
python-binance = "==0.7.5"

[requires]
python_version = "3.7"
