# ===============================
# Django Settings
# ===============================
DEBUG=True
SECRET_KEY=your_secret_key_here
DATABASE_URL=postgres://zecontinha_user:your_secure_password@postgres:5432/zecontinha_db

# ===============================
# Binance (Crypto) Settings
# ===============================
BINANCE_APIKEY=your_binance_apikey
BINANCE_SECRETKEY=your_binance_secretkey

# ===============================
# Telegram Bot Settings
# ===============================
TELEGRAM_API_KEY=your_telegram_apikey

# ===============================
# Environment (optional)
# ===============================
ENV=development

# ===============================
# Google reCAPTCHA
# ===============================
G_RECAPTCHA_SITE_KEY=your_site_key
G_RECAPTCHA_SECRET_KEY=your_secret_key
