{% load static %}
<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>Zé Continha</title>

        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>

        <style>
        .description{
            padding-left: 10px;
            padding-right: 30px;
        }
        td {
            text-align: center;
        } 
        </style>

        {% block extrastyle %}
        {% endblock %}


        <!-- Recaptcha-->
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>

        <!-- Datatables-->
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>

        {% block extrascripts %}
        <script>
            function enableBtn(){
                $("#form_btn").prop("disabled", false);
            }

            function copyFunction() {
              var copyText = $("#btcInput");
              copyText.select();
              document.execCommand("copy");
            }

            $(document).ready(function() {
                $('#dados').DataTable( {
                    dom: 'Bfrtip',
                    buttons: [
                        'copy', 'csv', 'excel'
                    ]
                } );
            } );
        </script>
        {% endblock %}
    </head>

    <body>
        <div style="width: 100%;">
            <div style="width: 150px; float:left;">
                {% block logotipo  %}
                <img alt="Zé Continha" src="{% static 'vozdocu/tyche_min.jpg' %}" style="margin-top: 30px;">
                {% endblock logotipo  %}
            </div>

            <div style="width: 60%; float:left">
                <h1>Zé Continha</h1>

                {% block descricao %}
                <p class="description">Esse sistema é uma prova de conceito sobre PairTrading (a.k.a Long and Short) baseado em Cointegração. Nenhuma recomendação de compra ou venda é feita neste sistema. Os dados são obtidos com 15 minutos de atraso. Não garantimos que os dados apresentados estão corretos. Não me responsabilizo pelo mal uso das informações.<p>
                {% endblock descricao %}

                {% block content %}

                {% block form_analise %}
                <h2>Analise de Pares</h2>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div style="float:left">
                        <table>
                        {{ form.as_table }}
                        </table>
                        </div>
                        <div style="margin-left:20px; float:left">
                            {% include 'dashboard/recaptcha.html' with btn_callback='enableBtn' submit_label='Analisar' %}
                        </div>
                    </form>
                {% endblock form_analise %}
                <!-- -->
                <div style="clear:both"></div>
                
                {% block result_analise %}
                {% if resultados %}
                <hr>
                <h2>Resultados</h2>
                    {% include 'dashboard/ols.html'%}
                    {% include 'dashboard/adf.html'%}
                    {% include 'dashboard/dados.html'%}
                {% endif %}
                {% endblock result_analise %}
                <!-- -->
                {% endblock content %}

            </div>

            <div style="float:left; width: 25%;">
        
                {% block nav-global %}
                <h2>Acesso</h2>
                <p class="description">
                    Zé Continha é um serviço gratuíto.
                    Cadastre-se.
                </p>
                <ul>
                    {% if not user.is_authenticated %}
                    <li><a href="#">Login</a> - WIP</li>
                    {% else %}
                    <li><a href="#">Logout</a>: {{ user }} - WIP</li>
                    {% endif %}
                    <li><a href="#">Cadastro</a> - WIP</li>
                    <li><a href="#">Minha Conta</a> - WIP</li>
                </ul>
                <h2>Mercados</h2>
                <ul>
                    <li><b>B3 (Ações)</b></li>
                    <li><ul>
                        <li><a href="{% url 'index' %}">Analise</a></li>
                        <li><a href="{% url 'b3-pairs' %}">Ranking</a></li>
                        <li><a href="#">Backtest - WIP</a></li>
                    </ul></li>
                    <li><b>Coinbase (Crypto) - WIP</b></li>
                    <li><ul>
                        <li><a href="#">Analise - WIP</a></li>
                        <li><a href="#">Ranking - WIP</a></li>
                    </ul></li>
                </ul>
                {% block doacoes %}
                    {% include 'dashboard/doacoes.html'%}
                {% endblock doacoes%}

                </ul>
                <h2>Links Úteis</h2>
                <ul>
                    <li><a href="https://bzerp.sfo2.digitaloceanspaces.com/index.html">BZERP</a></li>
                </ul>
                {% endblock nav-global %}
            </div>
            <div style="clear:both"></div>
            
        </div>
        </div> <!-- ? bug -->

        <div style="clear:both"></div>

        {% block footer %}
        </div>
        <div id="footer" style="width: 100%;">
            <hr>
            <div style="float:left; width: 147px;">
            </div>
            <div style="float:right; width: 89%;">
                <p>Esse sistema é uma prova de conceito sobre PairTrading (a.k.a Long and Short), baseado em Cointegração. Nenhuma recomendação de compra ou venda é feita neste sistema. Não garantimos que os dados apresentados estão corretos. Não me responsabilizo pelo mal uso das informações.<p>
            </div>
        </div>
        {% endblock %}

    </body>
</html>
