{% extends "dashboard/base_ranking_list.html" %}

{% load i18n static %}
{% load model_params_utils %}

{% block logotipo %}
<img alt="Zé Continha" title="Mamon é um termo que descreve riqueza material ou cobiça, personificado como uma divindade. Mamon representa o terceiro pecado, a Ganância ou Avareza" src="{% static 'vozdocu/mammon_min.png' %}" style="margin-top: 30px;">
{% endblock logotipo  %}

{% block descricao %}
<p class="description">Esse ranking é calculado com dos dados de fechamento. Diariamente uma rotina roda o calculo para todos os pares do Binance Futures. É utilizado o periodo de <b>01 ANO</b>, a partir da data do cálculo. Devido a limitação do Heroku (limite de 10mil registros Postgres), <strike>calculamos para apenas 2 períodos: 100 e 240.</strike> para apenas 11 períodos. Se houver falha no download dos dados ou na calculo, não serão exibidos os parametros (<i>checkbox Calc. c/ Sucesso</i>).</p>

<p class="description">O link do Par abre um pop-up.</p>

<p class="description"><b>CAPTCHA:</b> Todas a telas tem reCAPTCHA. Fiz isso para evitar bots. Infelizmente isso prejudica a usabilidade.</p>

<p class="description">Cuidado! Não garantimos que os dados apresentados estão corretos.</p>
{% endblock descricao %}
