{% extends "dashboard/base.html" %}
{% load i18n static %}
{% load model_params_utils %}

{% block extrascripts %}
    <script>
        function enableBtn(){
            $("#form_btn").prop("disabled", false);
        }

        $(document).ready(function() {
            $('#dados').DataTable( {
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel'
                ]
            } );
        } );
    </script>
{% endblock %}

{% block logotipo %}
<img alt="Zé Continha" src="{% static 'vozdocu/ladyluck_min.png' %}" style="margin-top: 30px;">
{% endblock logotipo  %}

{% block descricao %}
<p class="description">Esse ranking é calculado com dos dados de fechamento. Diariamente uma rotina roda o calculo para todos os pares do IBOV. É utilizado o periodo de <b>01 ANO</b>, a partir da data do calculo. Devido a limitação do Heroku (limite de 10mil registros Postgres), <strike>calculamos para apenas 2 periodos: 100 e 240.</strike> Se houver falha no download dos dados ou na calculo, não serão exibidos os parametros (<i>checkbox Calc. c/ Sucesso</i>). Não garantimos que os dados apresentados estão corretos.<p>
{% endblock descricao %}

{% block form_analise %}
<h2>Ranking dos Pares</h2>
    <form action="" method="POST">
        {% csrf_token %}
        <div style="float:left">
        <table>
        {{ form.as_table }}
        </table>
        </div>
        <div style="margin-left:20px; float:left">
        <div class="g-recaptcha" data-sitekey="6LdXsq4UAAAAAKlcpCUX-v52ZpQp_RrzKR5s-n8j" data-callback="enableBtn"></div>
        <br/>
        <button disabled type="submit" value="Submit" id="form_btn">Filtrar</button> 
        </div>
    </form>
{% endblock form_analise %}

<!-- -->
{% block result_analise %}

<hr>

<table id="dados">
    <thead>
    <tr>
        <th>Par</th>
        <th>Cotação</th>
        <th>ADF P-Valor</th>
        <th>Z-Score</th>
        <th>Ang. Coef.</th>
        <th>Cmd.</th>
    </tr>
    </thead>
    <tbody>
    {% for obj in object_list %}
    <tr>
        <td><a href="{% url 'pair-stats' x=obj.ticker_x y=obj.ticker_y %}">{{ obj.display_pair }}</a></td>
        <td>{{ obj.x_quote|floatformat:2 }}x{{ obj.y_quote|floatformat:2 }}</td>
        <td>{% get_param obj period "adf_pvalue" 5 %}</td>
        <td>{% get_param obj period "zscore" 5 %}</td>
        <td>{% get_param obj period "ang_coef" 5 %}</td>
        <td>{% if obj.success %}<button style="margin-top: 5px" onclick="newTrade()">Entrar</button>{% endif %}</td>
    </tr>
    {% empty %}
        <td colspan="6">Nenhum dado encontrado</td>
    {% endfor %}

    </tbody>
</table>

{% if timestamp %}
    <ul>
        <li></b>Timestamp do Calculo:</b> {{ timestamp }}</li>
        <li></b>Número de Observações:</b>{{ period }}</li>
    </ul>
{% endif %}

{% endblock result_analise %}
