{% extends "dashboard/base.html" %}
{% load i18n static %}
{% load model_params_utils %}

{% block extrascripts %}

    <script>
        function enableBtn(){
            $("#form_btn").prop("disabled", false);
        }

        $(document).ready(function() {
            $('#dados').DataTable( {
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel'
                ]
            } );
        } );
    </script>

    <script>
        function fillModalForm(pair_id){
            // Seta o campo hidden
            $("#id_pair_stats_id").val(pair_id);

            // Par
            $("#form_periodo").val({{ period }});
            $("#form_periodo").prop('readonly', true);

            // Par
            pair = $("#pair_"+pair_id).find(".pair").find("a");
            $("#form_pair_title").html(pair.clone());
            $("#id_pair").val(pair.text());
            // Trava edição
            $("#id_pair").prop('readonly', true);

            // Preenche a cotação
            quote = $("#pair_"+pair_id).find(".quote").html();
            tokens = quote.split('x')
            $("#form_entry_x").val(tokens[0]);
            $("#form_entry_y").val(tokens[1]);

            // Calcula o beta
            txt_beta = $("#pair_"+pair_id).find(".beta").html();
            beta = parseFloat(txt_beta);
            x = parseFloat(tokens[0]);
            capital = $("#form_capital").val();
            // console.log(x);
            // console.log(beta);
            //
            qx = capital/x;
            y = parseFloat(tokens[1]);
            $("#form_qntx").val(Math.round(qx));
            $("#form_qnty").val(Math.round(qx/beta));
        }
    </script>

    <script>
        function recalcModalForm(){
            // TODO
            capital = $("#form_capital").val();
            x = parseFloat($("#form_entry_x").val());
            y = parseFloat($("#form_entry_y").val());
            //
            qx = capital/x;
            $("#form_qntx").val(Math.round(qx));
            $("#form_qnty").val(Math.round(qx/beta));
        }

    </script>

{% endblock %}

{% block logotipo %}
<img alt="Zé Continha" src="{% static 'vozdocu/ladyluck_min.png' %}" style="margin-top: 30px;">
{% endblock logotipo  %}

{% block descricao %}
<p class="description">Esse ranking é calculado com dos dados de fechamento. Diariamente uma rotina roda o calculo para todos os pares do IBOV. É utilizado o periodo de <b>01 ANO</b>, a partir da data do calculo. Devido a limitação do Heroku (limite de 10mil registros Postgres), <strike>calculamos para apenas 2 periodos: 100 e 240.</strike> Se houver falha no download dos dados ou na calculo, não serão exibidos os parametros (<i>checkbox Calc. c/ Sucesso</i>). Não garantimos que os dados apresentados estão corretos.<p>
{% endblock descricao %}

{% block form_analise %}
<h2>Ranking dos Pares</h2>
    <form action="" method="POST">
        {% csrf_token %}
        <div style="float:left">
        <table>
        {{ form.as_table }}
        </table>
        </div>
        <div style="margin-left:20px; float:left">
            {% include 'dashboard/recaptcha.html' with btn_callback='enableBtn' submit_label='Filtrar' %}
        </div>
    </form>
{% endblock form_analise %}

<!-- -->
{% block result_analise %}

<hr>

<table id="dados">
    <thead>
    <tr>
        <th>Par</th>
        <th>Cotação</th>
        <th>ADF P-Valor</th>
        <th>Z-Score</th>
        <th>Ang. Coef.</th>
        <th>#Prd. Coint.</th>
        <th>Cmd.</th>
    </tr>
    </thead>
    <tbody>
    {% for obj in object_list %}
    <tr id="pair_{{ obj.id }}">
        <td class="pair"><a href="{% url 'pair-stats' x=obj.ticker_x y=obj.ticker_y %}">{{ obj.display_pair }}</a></td>
        <td class="quote">{{ obj.x_quote|floatformat:2 }}x{{ obj.y_quote|floatformat:2 }}</td>
        <td class="adf">{% get_param obj period "adf_pvalue" 5 %}</td>
        <td class="zscore">{% get_param obj period "zscore" 5 %}</td>
        <td class="beta">{% get_param obj period "ang_coef" 5 %}</td>
        <td>{% n_p_coint obj 0.1 %}</td>
        <td>{% if obj.success %}<button style="margin-top: 5px" type="button" class="btn btn-primary" data-toggle="modal" data-target="#EnterTradeModal" onclick="fillModalForm({{ obj.id }});">Entrar</button>{% endif %}</td>
    </tr>
    {% empty %}
        <td colspan="6">Nenhum dado encontrado</td>
    {% endfor %}

    </tbody>
</table>

{% if timestamp %}
    <ul>
        <li></b>Timestamp do Calculo:</b> {{ timestamp }}</li>
        <li></b>Número de Observações:</b>{{ period }}</li>
    </ul>
{% endif %}

{% endblock result_analise %}

{% block modal %}
<!-- Modal -->
<div class="modal fade" id="EnterTradeModal" tabindex="-1" role="dialog" aria-labelledby="EnterTradeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="EnterTradeModalLabel">Cadastrar Operação</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Informações sobre o tamanho da posição</p>
        <form method="POST" action="{% url 'boleta' %}">
            {% csrf_token %}
            <p>
                <label for="form_capital">Capital (R$)</label>
                <input type="number" name="capital" id="form_capital" min_value="0" step="1" required=""  value="10000">
            </p>
            <p>
                <label for="form_margem">Margem (%)</label>
                <input type="number" name="margem" id="form_margem" min_value="0" max_value="100" step="1" required="" value="20">
            </p>
            <p>
                <label for="form_desagio">Desagio (X)</label>
                <input type="number" name="desagio" id="form_desagio" min_value="0" max_value="100" step="1" required=""  value="20">
            </p>
            <p>
                <button style="margin-top: 5px" type="button" class="btn btn-primary" onclick="recalcModalForm();">Calcular</button>
            </p>

        <form>
        <hr>
        <p id="form_pair_title"></p>
        {{ modal_form.as_p }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-primary">Salvar</button>
      </div>
    </div>
  </div>
</div>
{% endblock modal %}
