{% extends "dashboard/base.html" %}
{% load i18n static model_params_utils %}


{% block extrascripts %}
    <script>
        function enableBtn(){
            $("#form_btn").prop("disabled", false);
        }

        $(document).ready(function() {
            $('#periodos').DataTable( {
                dom: 'Bfrtip',
                pageLength : 15,
                /*
                buttons: [
                    'copy', 'csv', 'excel'
                ]
                */
            } );
        } );

        $(document).ready(function() {
            $('#dados').DataTable( {
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel'
                ]
            } );
        } );
    </script>
{% endblock %}

{% block logotipo %}
<img alt="Zé Continha" src="{% static 'vozdocu/fatcat_min.jpg' %}" style="margin-top: 30px;">
{% endblock logotipo  %}

{% block descricao %}
<p class="description">TODO: Colocar uma descrição<p>
{% endblock descricao %}

{% block form_analise %}
<h2>Estatísticas do Par: {{ object.display_pair }}</h2>
    <form action="" method="POST">
        {% csrf_token %}
        <div style="float:left">
        <table>
        {{ form.as_table }}
        </table>
        </div>
        <div style="margin-left:20px; float:left">
            {% include 'dashboard/recaptcha.html' with btn_callback='enableBtn' submit_label='Filtrar' %}
        </div>
    </form>
{% endblock form_analise %}

<!-- -->
{% block result_analise %}

<hr>

<table id="periodos">
    <thead>
    <tr>
        <th>#Observ</th>
        <th>ADF P-Valor</th>
        <th>Z-Score</th>
        <th>Ang. Coef.</th>
        <th>Intercept.</th>
        <th>Resíduo</th>
        <th>Std.Dev.</th>
    </tr>
    </thead>
    <tbody>

    {% for key, values in object.model_params.items %}
    <tr>
        <td>{{ values.n_observ }}</td>
        <td style="{% color_adf values.adf_pvalue pvalue %}">
            {{ values.adf_pvalue|floatformat:5 }}
        </td>
        <td style="{% color_zscore values.zscore zscore %}">
            {{ values.zscore|floatformat:5 }}
        </td>
        <td>{{ values.ang_coef|floatformat:5 }}</td>
        <td>{{ values.intercept|floatformat:5 }}</td>
        <td>{{ values.last_resid|floatformat:5 }}</td>
        <td>{{ values.resid_std|floatformat:5 }}</td>
    </tr>
    {% empty %}
        <td colspan="6">Use o filtro para que os dados sejam apresentados</td>
    {% endfor %}

    </tbody>
</table>

{% if beta_plot %}
    <h3>Beta Rotation</h3>
    <img src="data:image/png;base64, {{beta_plot}}"/>
    <p class="description">Para este calculo é usada uma janela de 40 periodos<p>
{% endif %}

{% if resultados %}
<hr>
<h3>Resultados ({{ period }} períodos)</h3>
    {% include 'dashboard/ols.html'%}
    {% include 'dashboard/adf.html'%}
    {% include 'dashboard/dados.html'%}
{% endif %}

{% if n_observ %}
    <ul>
        <li></b>Timestamp do Calculo:</b>{{ timestamp_calc }}</li>
        <li><b>Número de Períodos: </b>{{ period }}</li>
    </ul>
{% endif %}

{% endblock result_analise %}